body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f0f0f0;
    background-image: url(https://img.freepik.com/premium-photo/colorful-abstract-wave-liquid-motion-flow-explosion_861875-556.jpg);

}

.container {
    display: flex;
    justify-content: araund;
    align-items: center;
    min-height: 270px;
    flex-direction: column;
}

.login-box {
    background: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.input-box {
    margin-bottom: 15px;
}

.input-box input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
}

input:focus {
    border-color: #007BFF;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.card {
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.card img {
    width: 470px;
    height: auto;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    text-wrap: wrap;
}

.card button {
    margin-top: 10px;
    padding: 5px 10px;
    background: red;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button{
    background-color: blue; color: white;
    padding: 5px;
    border: solid 2px blue;
    border-radius: 5px;
}
button:hover{
    background-color: blueviolet;
    border: solid 2px blueviolet;
    cursor: pointer;
 }

 #userInfo{
    color: red;
    background-color: white;
    width: 320px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    
 }
 #userInfo:hover{
    border-radius: 20px;
    background-color: red;
    color: white;
    transition: 0.2s;
    border: solid black;
 }